.features-bg {
  width: 100%;
  background-color: #fcfbfa;   /* full width background */
}

.features-wrapper {
  width: 100%;
  max-width: 1200px;           /* content max width */
  margin: 0 auto;              /* center horizontally */
  padding: 30px 20px;
  text-align: center;
}


.features-heading {
  font-size: 36px;
  font-weight: 700;
  margin-bottom: 40px;
}

.features-heading .black-text {
  color: #111;  /* black */
}



.features-section {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 24px;
  padding: 30px;
  margin: 0 auto;  /* keeps grid centered inside wrapper */
  text-align: center;
}

.feature-card {
  background: #fff;
  padding: 30px 25px;
  height: 250px;
  border-radius: 16px;
  border: 1px solid #e5e7eb;
  /* box-shadow: 0 4px 10px rgba(0,0,0,0.05); */
  transition: transform 0.3s ease, box-shadow 0.3s ease;

  display: flex;
  flex-direction: column;
  align-items: flex-start;   /* left align content */
  text-align: left;          /* make text left-aligned */
}

.feature-icon {
  margin-bottom: 16px;
}

.feature-icon img {
  width: 60px;      /* adjust size as needed */
  height: 60px;
  object-fit: contain;
  display: block;
}


.feature-content {
  margin-top: auto;  /* pushes title+text block to bottom */
}

.feature-card h3 {
  font-size: 18px;
  font-weight: 600;
  color: #111827;
  margin-bottom: 8px;
}

.feature-card p {
  font-size: 15px;
  line-height: 1.6;
  color: #4b5563;
}



.feature-card:hover {
  transform: translateY(-6px);
  /* box-shadow: 0 8px 20px rgba(0,0,0,0.1); */
  border: 0.5px solid #3fce71;
}


